<div class='article-card'>
    <img *ngIf="item.urlToImage" class="article-image" src="{{item.urlToImage}}" alt="news image">
    <div class="article-content">
        <h2 *ngIf="item.title">
          {{item.title}}
        </h2>
        <p *ngIf="item.content">
          {{item.content}}
        </p>
        <p *ngIf="item.description">
          {{item.description}}
        </p>
        <p *ngIf="item.publishedAt">
          {{item.publishedAt | date}}
        </p>
        <a *ngIf="item.url" href="{{item.url}}" class='url'>
            Read more...
        </a>
    </div>
    <div *ngIf="item.manuallyAdded" class="article-control">
        <app-button (click)='editArticleButton($event)' class='edit-article-button' title="edit" (update)="onUpdate($event)"></app-button>
        <app-button (click)='deleteArticleButton($event)' class='delete-article-button' title="delete" (update)="onUpdate($event)"></app-button>
    </div>
</div>