.form-input {
    padding: 2px;
    border: 0;
    font-size: 90%;
    border-radius: 5px;
}

.form-button {
    padding: 2px;
    border: 0;
    font-size: 90%;
    border-radius: 5px;
    margin-left: 5px;
}