.login-section {
    width: 6%;
    margin-left: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
}

.edit-source-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.choosen-source {
    font-family: fantasy;
}

.add-article-button {
    padding: 2px;
    border: 0;
    font-family: monospace;
    border-radius: 5px;
}