<span class='header-top'>
    <h1 class='choosen-source' (click)="redirectHome($event)">
        {{ChoosenSource}}
    </h1>
    <div class='login-section'>
        <p>{{login}}</p>
        <app-button (click)='loginLogoutButton($event)' class='login-logout-button' title="logout" (update)="onUpdate($event)"></app-button>
    </div>
</span>
<span class='edit-source-section'>
    <app-select [select]="select" (change)="onSelectChange($event.target.value)" (update)="onUpdate($event)"></app-select>
    <form class="form">
        <app-input class='login-logout-input' placeholder="type your text..."></app-input>
        <app-button type="submit" class='login-logout-button' title="filter" (update)="onUpdate($event)"></app-button>
    </form>
    <app-checkbox checkbox="Only created by me"></app-checkbox>
    <app-button (click)='addArticleButton($event)' class='add-article-button' title="Add article" (update)="onUpdate($event)"></app-button>
</span>