.form-input {
    background-color: rgb(35,31,32);
    color: white;
    padding: 2px;
    border: 0;
    font-size: 90%;
    border-radius: 2px;
}

.form-input::placeholder {
    color: rgb(124, 124, 124);
}