.app-header {
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    color: rgb(239, 239, 239);
    background-color: rgb(39, 99, 196);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.app-articles {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    color: black;
}

.app-footer {
    width: 100%;
    height: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    background-color: rgb(239, 239, 239);
    box-shadow: 0 -5px 5px rgba(0,0,0,0.5);
}

.app-header, .app-articles, .app-footer {
    font-size: 1.1vw;
}

@media screen and (max-device-width: 700px) {
    .app-header, .app-articles, .app-footer {
        font-size: 2vw;
    }

    .app-header {
        height: 16vw;
    }

    .app-footer {
        height: 8vw;
    }
}